@import url('@radix-ui/colors/tomato-dark.css');
@import url('@radix-ui/colors/mauve-dark.css');

.mdxeditor-toolbar {
	@apply !bg-transparent !border !rounded-none !rounded-t-md !rounded-b-none !border-primary-border;
}

.mdx_content_editable{
	@apply !text-primary-header-txt border border-primary-border border-t-0 rounded-b-md h-full;
}

.dark_mdx_editor.mdx_custom_theme {
	/* --baseBorderHover: ; */
	--baseTextContrast:#F6F6F7;
	--baseBorderHover:#676769;
	--baseBgActive:rgba(255, 255, 255, 0.15);
	--baseText:#c9c9cf;
}

.dark_mdx_editor.mdx_custom_theme .sp-wrapper {
	@apply !border-primary-border;
}
.dark_mdx_editor.mdx_custom_theme .sp-wrapper .ͼr {
	@apply !bg-transparent;
}

.mdxeditor-popup-container > [data-radix-popper-content-wrapper] > div {
	@apply bg-white/15 border-none;
}

/* .mdxeditor-toolbar > div {
	@apply !text-primary-parag-txt;
} */